* {
  padding: 0;
  margin: 0;
}

.people {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 1em;
}

.people > div {
  background: #eee;
  padding: 1em;
}

.people > div:nth-child(even) {
  background: #ddd;
}

.person {
  display: grid;
  grid-template-columns: 25% 75%;
}
